# EDA Introduction

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [11]:
df = pd.read_csv("k_circle_sales.csv")
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Profit
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8,OUT049,1999,Medium,Tier 2,Supermarket Type1,3735.1380,11.5
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.3,OUT018,2009,Medium,Tier 2,Supermarket Type2,443.4228,14.3
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6,OUT049,1999,Medium,Tier 2,Supermarket Type1,2097.2700,14.5
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.1,OUT010,1998,NaN,NaN,Grocery Store,732.3800,13.6
4,NCD19,8.930,Low Fat,0.000000,Household,53.9,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,14.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834,14.1
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.2,OUT045,2002,NaN,NaN,Supermarket Type1,549.2850,14.2
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1,OUT035,2004,Small,Tier1,Supermarket Type1,1193.1136,9.5
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1,OUT018,2009,Medium,Tier 2,Supermarket Type2,1845.5976,14.2
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.5,OUT046,1997,Small,Tier1,Supermarket Type1,765.6700,14.6

In [12]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Profit
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8,OUT049,1999,Medium,Tier 2,Supermarket Type1,3735.1380,11.5
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.3,OUT018,2009,Medium,Tier 2,Supermarket Type2,443.4228,14.3
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6,OUT049,1999,Medium,Tier 2,Supermarket Type1,2097.2700,14.5
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.1,OUT010,1998,NaN,NaN,Grocery Store,732.3800,13.6
4,NCD19,8.93,Low Fat,0.000000,Household,53.9,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,14.1

In [24]:
df.shape # To get num of rows and columns from the dataframe

(8523, 13)

In [25]:
df.columns # To get the name of the columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales', 'Profit'],
      dtype='object')

In [28]:
df.Item_Type.value_counts # Will give the counts of specific columns

<bound method IndexOpsMixin.value_counts of 0                       Dairy
1                 Soft Drinks
2                        Meat
3       Fruits and Vegetables
4                   Household
                ...
8518              Snack Foods
8519             Baking Goods
8520       Health and Hygiene
8521              Snack Foods
8522              Soft Drinks
Name: Item_Type, Length: 8523, dtype: object>

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7774 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       6473 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
 12  Profit                     8523 non-null   float64
dtypes: float64(5), int64(1), object(7)
memory usage: 865.7+ KB

In [31]:
df.isnull().sum()  # To check the null values where .sum() is used to get the numerical values as which are null

Item_Identifier                 0
Item_Weight                   749
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type         2050
Outlet_Type                     0
Item_Outlet_Sales               0
Profit                          0
dtype: int64

In [32]:
df.isnull().sum().sum() # To get the total counts of the null

5209

In [33]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Profit
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8,OUT049,1999,Medium,Tier 2,Supermarket Type1,3735.1380,11.5
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.3,OUT018,2009,Medium,Tier 2,Supermarket Type2,443.4228,14.3
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6,OUT049,1999,Medium,Tier 2,Supermarket Type1,2097.2700,14.5
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.1,OUT010,1998,NaN,NaN,Grocery Store,732.3800,13.6
4,NCD19,8.93,Low Fat,0.000000,Household,53.9,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,14.1

In [ ]:
# Mean Values of the DataFrame

In [34]:
df.Item_Weight.mean()

11.676739773604321

In [35]:
df.Item_MRP.mean()

140.99883843717

In [36]:
df.Item_Outlet_Sales.mean()

2181.288913575032

In [37]:
df.Profit.mean()

13.414513668895928

In [ ]:
# Median Values of the DataFrame

In [38]:
df.Item_Weight.median()

11.8

In [39]:
df.Item_MRP.median()

142.7

In [ ]:
# Mode Values of the DataFrame

In [40]:
df.Item_Outlet_Sales.mode()

0    958.752
Name: Item_Outlet_Sales, dtype: float64

In [41]:
df.Profit.mode()

0    14.3
Name: Profit, dtype: float64

In [42]:
df.select_dtypes(include = "number")

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Profit
0,9.300,0.016047,249.8,1999,3735.1380,11.5
1,5.920,0.019278,48.3,2009,443.4228,14.3
2,17.500,0.016760,141.6,1999,2097.2700,14.5
3,19.200,0.000000,182.1,1998,732.3800,13.6
4,8.930,0.000000,53.9,1987,994.7052,14.1
...,...,...,...,...,...,...
8518,6.865,0.056783,214.5,1987,2778.3834,14.1
8519,8.380,0.046982,108.2,2002,549.2850,14.2
8520,10.600,0.035186,85.1,2004,1193.1136,9.5
8521,7.210,0.145221,103.1,2009,1845.5976,14.2
8522,14.800,0.044878,75.5,1997,765.6700,14.6

In [44]:
r = df.Item_MRP.quantile([0.25,0.50,0.75])
print(r)

0.25     93.80
0.50    142.70
0.75    185.65
Name: Item_MRP, dtype: float64

In [45]:
q = df.Item_Weight.quantile([0.10,0.20,0.30,0.40,0.50,0.60,0.70,0.80,0.90,1])
print(q)

0.1     5.110
0.2     6.983
0.3     8.420
0.4    10.000
0.5    11.800
0.6    13.650
0.7    15.600
0.8    17.500
0.9    19.250
1.0    21.350
Name: Item_Weight, dtype: float64

In [50]:
df.Item_MRP.isna() # Will give the Boolean value

0       False
1       False
2       False
3       False
4       False
        ...
8518    False
8519    False
8520    False
8521    False
8522    False
Name: Item_MRP, Length: 8523, dtype: bool

In [48]:
df.Item_MRP.isna().sum()  # Will give the sum of values

0

In [51]:
df.Item_MRP.dropna()  # Will give the numerical values as Dtype

0       249.8
1        48.3
2       141.6
3       182.1
4        53.9
        ...
8518    214.5
8519    108.2
8520     85.1
8521    103.1
8522     75.5
Name: Item_MRP, Length: 8523, dtype: float64

In [52]:
df.Item_MRP.dropna().sum() # Will give the Sum of values

1201733.1

In [16]:
# Find the mean 
prices = pd.Series([24,32,26,28,34])
prices.mean()

28.8

In [18]:
# Include missing values in the same series
prices = pd.Series([24,np.NaN,32,26,np.NaN,28,34])
prices.mean()

28.8

In [19]:
import scipy 
from scipy import stats

In [20]:
# to obtain 30% trimmed mean
scipy.stats.trim_mean(prices, proportiontocut = 0.30)

31.333333333333332

In [22]:
prices = pd.Series([24,32,26,28,34,300])
prices.mean() # Trimmed Mean.

74.0

In [21]:
# Median

prices.median()

28.0

In [55]:
# Range
range_values = df.Item_Weight.max()-df.Item_Weight.min()
range_values

21.35

In [57]:
np.random.seed(25)
values = np.random.randint(low = 4,high=35,size=5)
values

array([ 8, 34, 30, 19, 33])

In [59]:
values.var()  # to get the variance

98.96

In [60]:
values.std()  # to get the Standard Deviation

9.94786409235671

In [61]:
scipy.stats.variation(values)

0.40112355211115763